@{
    ViewBag.Title = "Home Page";
}

<body>

    @{
        if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
        {
            <script>
                alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
            </script>
        }

        List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> AStarConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
    }

    <div id="cy"></div>
    <script>
        $(function () { // on dom ready

            var configs = @Html.Raw(Json.Encode(AStarConfigs));
            var possibleCytoscapeMaps = [];
            for (var i = 0; i < configs.length; i++) {
                possibleCytoscapeMaps.push({
                    map: null,
                    current: false
                });
            }
            var currentConfig = configs[0];
            var currentAnimation = {
                timestep: 0,
                frames: [],
                paused: false,
                finished: false
            };
            var animationResults = [];
            var currentTimestep = 0;

            // Set page description
            $('#simulation-title').text("A* Search");
            $('#simulation-description').text("An intelligent path finding algorithm.");
            $('#simulation-header').show();
            // Cytoscape
            var cy = setCytoscape(currentConfig);
            setConfigurationsInSelector(configs, possibleCytoscapeMaps);
            possibleCytoscapeMaps[0]['current'] = true;
            possibleCytoscapeMaps[0]['map'] = cy;
            

            //Start a simulation
            $('#play').click(function () {
                if ($('#play').hasClass('disabled')) {
                    return;
                }
                currentAnimation['paused'] = false;
                $('#play').addClass('disabled');
                $('#pause').removeClass('disabled');

                cy = getCurrentMapObject(possibleCytoscapeMaps);

                //Only run the simulation if it hasn't already been run on this configuration
                if (currentAnimation['frames'].length == 0) {
                    $.ajax({
                        method: "GET",
                        url: "/Simulations/AStar",
                        success: (result) => {
                            console.log("Successful ajax request");
                            animationResults = $.parseJSON(result);
                            //console.log(result);
                            assembleFullAnimation(animationResults, cy, currentAnimation);
                            playFrame(currentAnimation['frames'][currentTimestep], currentTimestep, currentAnimation['frames'].length);
                        },
                        error: (result) => {
                            console.log("Unsuccessful ajax request");
                            console.log(result);
                        }
                    });
                } else {
                    resetFrame(currentAnimation['frames'][currentTimestep], restartAnim)
                }
            });

            $('#pause').click(function () {
                if ($('#pause').hasClass('disabled')) {
                    return;
                }
                currentTimestep = currentAnimation['timestep'];
                pauseFrame(currentAnimation['frames'][currentTimestep]);
                currentAnimation['paused'] = true;
                $('#play').removeClass('disabled');
                $('#pause').addClass('disabled');
            });

            function restartAnim() {
                currentAnimation = {
                    timestep: currentTimestep,
                    frames: [],
                    paused: false,
                    finished: false
                };
                currentTimestep = 0;
                assembleFullAnimation(animationResults, cy, currentAnimation);
                playFrame(currentAnimation['frames'][currentTimestep], currentTimestep, currentAnimation['frames'].length);
            }

        });
    </script>
</body>