@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
    {
        <script>
            alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
        </script>
    }

    List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> AStarConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
}

<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new node</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 ml-auto">
                            <label for="node-connection" style="vertical-align:sub" class="col-sm-4 control-label">Connection</label>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <input type="text" class="form-control disabled" id="node-connection-name" name="node-connection-name" readonly required="">
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto">
                            <label for="node-name" style="vertical-align:sub" class="col-sm-4 control-label">Name</label>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <input type="text" class="form-control" id="node-name" name="node-name" required="">
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-md-6 ml-auto">
                            <label for="node-distance" style="vertical-align:sub" class="col-sm-4 control-label">Distance</label>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <input type="number" class="form-control" id="node-distance" name="node-distance" min="1" required="" onkeyup="if (value < 1){ value =1 }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="self.addNode()">Add Node</button>
                <button type="button" class="btn btn-secondary close-modal-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="add-connection-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="col-12 modal-title text-center">
                    Select the node to connect to
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
                <label style="display:none" id="connection-header"></label>
            </div>
        </div>
    </div>
</div>

<div id="save-config-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 ml-auto">
                            <label for="configuration-name" style="vertical-align:sub" class="col-sm-4 control-label">Name</label>
                        </div>
                        <div class="col-md-6 ml-auto">
                            <input type="text" class="form-control" id="configuration-name" name="node-connection-name" required="" onkeyup="checkConfigName()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveConfigButton" class="btn btn-primary" onclick="self.requestAStarConfigurationSave()">Save</button>
                <button type="button" class="btn btn-secondary close-modal-button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<body>

    <div id="arrow-left-div" data-image='@Url.Content("~/images/add.png")'></div>
    <img id="arrow-left-img" src="~/vendor/open-iconic-master/png/arrow-left.png" style="display:none" />

    <div id="cy"></div>
    <script src="~/js/Custom/AStar/configuration-module.js"></script>
    <script src="~/js/Custom/AStar/toolbar-module.js"></script>
    <script src="~/js/Custom/AStar/animation-module.js"></script>
    <script>
        $(function () { // on dom ready
            var configs = @Html.Raw(Json.Encode(AStarConfigs))
            SimulationInterface.setCurrentSimulation("AStar", configs);

            $('#simulation-title').text("A* Search");
            $('#simulation-description').html("<a href='https://en.wikipedia.org/wiki/A*_search_algorithm'>Link to information.</a>");
            $('#simulation-header').show();
        });
    </script>
</body>