@{
    ViewBag.Title = "Home Page";
}

<body>

    @{
        if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
        {
            <script>
                alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
            </script>
        }

        List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> AStarConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
    }

    <div id="cy"></div>
    <script>
        $(function () { // on dom ready

            var configs = @Html.Raw(Json.Encode(AStarConfigs));
            var currentConfig = configs[0];

            // Set page description
            $('#simulation-title').text("A* Search");
            $('#simulation-description').text("An intelligent path finding algorithm.");
            $('#simulation-header').show();
            setConfigurationsInSelector(configs);

            // Cytoscape
            setCytoscape(currentConfig);

            //Start a simulation
            $('#play').click(function () {
                $.ajax({
                    method: "GET",
                    url: "/Simulations/AStar",
                    success: (result) => {
                        console.log("Successful ajax request");
                        console.log(result);
                    },
                    error: (result) => {
                        console.log("Unsuccessful ajax request");
                        console.log(result);
                    }
                });
            })
        });
    </script>
</body>