@{
    ViewBag.Title = "Home Page";
}

<body>

    @{
        if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
        {
            <script>
                alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
            </script>
        }

        List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> AStarConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
    }

    <div id="cy"></div>
    <script>
        $(function () { // on dom ready

            var configs = @Html.Raw(Json.Encode(AStarConfigs));
            var possibleCytoscapeMaps = [];
            for (var i = 0; i < configs.length; i++) {
                possibleCytoscapeMaps.push({
                    map: null,
                    current: false
                });
            }
            var currentConfig = configs[0];
            var currentAnimation = {
                timestep: 0,
                frames: [],
                paused: false,
                finished: false
            };
            var simulationResults = [];
            var currentTimestep = 0;
            var DONTPAUSE = -1;

            // Set page description
            $('#simulation-title').text("A* Search");
            $('#simulation-description').text("An intelligent path finding algorithm.");
            $('#simulation-header').show();
            // Cytoscape
            var cy = setCytoscape(currentConfig);
            setConfigurationsInSelector(configs, possibleCytoscapeMaps);
            possibleCytoscapeMaps[0]['current'] = true;
            possibleCytoscapeMaps[0]['map'] = cy;

            // Run a simulation
            $('#simulate').click(function () {
                runSimulation()
            });

            // Play a full animation
            $('#play').click(function () {
                if ($('#play').hasClass('disabled')) {
                    return;
                }
                currentAnimation['paused'] = false;
                $('#play').addClass('disabled');
                $('#forward').addClass('disabled');
                $('#backward').addClass('disabled');
                $('#pause').removeClass('disabled');


                if (currentTimestep == 0) {
                    playFromBeginning();
                } else {
                    resetFrame(currentAnimation['frames'][currentTimestep], restartAnim)
                }
            });

            $('#pause').click(function () {
                if ($('#pause').hasClass('disabled')) {
                    return;
                }
                currentTimestep = currentAnimation['timestep'];
                pauseFrame(currentAnimation['frames'][currentTimestep]);
                currentAnimation['paused'] = true;
                $('#play').removeClass('disabled');
                $('#forward').removeClass('disabled');
                $('#backward').removeClass('disabled');
                $('#pause').addClass('disabled');
            });

            // Need to run the simulation before advancing a frame if it has not already run
            $('#forward').click(function () {
                frameForward();
            });

            $('#backward').click(function () {
                frameBackward();
            });

            // Start the next frame after resetting
            function frameForward() {
                console.log("forward timestep: " + currentTimestep)

                var frameParam;
                if (currentTimestep == currentAnimation['frames'].length - 1) {
                    return;
                }
                if (getDisplayedFrame() != 0) {
                    currentTimestep++;
                }
                frameInfo = {
                    frame: currentAnimation['frames'][currentTimestep],
                    timestep: currentTimestep,
                    numFrames: currentAnimation['frames'].length
                }
                assembleFullAnimation(simulationResults, cy, currentAnimation, -2);

                resetFrame(currentAnimation['frames'][currentTimestep], playFrame, frameInfo);
            }

            function frameBackward() {
                //assembleFullAnimation(simulationResults, cy, currentAnimation, DONTPAUSE);
                console.log("backward timestep: " + currentTimestep)
                var frameParam;
                if (currentTimestep == 0) {
                    return;
                } else {
                    currentTimestep--;
                }
                frameInfo = {
                    frame: currentAnimation['frames'][currentTimestep],
                    timestep: currentTimestep,
                    numFrames: currentAnimation['frames'].length
                }
                assembleFullAnimation(simulationResults, cy, currentAnimation, -2);

                resetFrame(currentAnimation['frames'][currentTimestep+1], playFrame, frameInfo);
            }

            function startNextFrame() {
                currentTimestep++;
                console.log("starting next frame: " + currentTimestep)
                currentAnimation = {
                    timestep: currentTimestep,
                    frames: [],
                    paused: false,
                    finished: false
                };
                assembleFullAnimation(simulationResults, cy, currentAnimation, currentTimestep);
                playFrame(currentAnimation['frames'][currentTimestep], currentTimestep, currentAnimation['frames'].length);
            }

            function restartAnim() {
                currentAnimation = {
                    timestep: currentTimestep,
                    frames: [],
                    paused: false,
                    finished: false
                };
                currentTimestep = 0;
                assembleFullAnimation(simulationResults, cy, currentAnimation, DONTPAUSE);
                playFrame(currentAnimation['frames'][currentTimestep], currentTimestep, currentAnimation['frames'].length);
            }

            function runSimulation() {
                //TODO: Collect simulation parameters
                $.ajax({
                    method: "GET",
                    url: "/Simulations/AStar",
                    success: (result) => {
                        console.log("Simulation has completed successfully.");
                        simulationResults = $.parseJSON(result);
                        cy = getCurrentMapObject(possibleCytoscapeMaps);
                        assembleFullAnimation(simulationResults, cy, currentAnimation, currentTimestep);
                        $('#play').removeClass('disabled');
                        $('#forward').removeClass('disabled');
                        $('#backward').removeClass('disabled');
                    },
                    error: (result) => {
                        console.log("Simulation has completed unsuccessfully.");
                        console.log(result);
                    }
                });
            }

            function playFromBeginning() {
                assembleFullAnimation(simulationResults, cy, currentAnimation, DONTPAUSE);
                var frameInfo = {
                    frame: currentAnimation['frames'][currentTimestep],
                    timestep: currentTimestep,
                    numFrames: currentAnimation['frames'].length
                }
                playFrame(frameInfo);
            }

            function pauseAtFrame(frameNumber) {
                assembleFullAnimation(simulationResults, cy, currentAnimation, frameNumber);
                playFrame(currentAnimation['frames'][currentTimestep], frameNumber, currentAnimation['frames'].length);
            }

        });
    </script>
</body>