@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
    {
        <script>
            alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
        </script>
    }

    List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> AStarConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
}

<body>

    <div id="cy"></div>
    <script src="~/js/Custom/DynamicProgramming/configuration-module.js"></script>
    <script src="~/js/Custom/DynamicProgramming/toolbar-module.js"></script>
    <script src="~/js/Custom/DynamicProgramming/animation-module.js"></script>
    <script>
        $(function () { // on dom ready
            var configs = @Html.Raw(Json.Encode(AStarConfigs))
            console.log("configs", configs);
            SimulationInterface.setCurrentSimulation("DynamicProgramming", configs);

            $('#simulation-title').text("Dynamic Programming");
            $('#simulation-description').html("<a href='https://en.wikipedia.org/wiki/Dynamic_programming'>Link to information.</a>");
            $('#simulation-header').show();
        });
    </script>
</body>