@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
    {
        <script>
            alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
        </script>
    }

    List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> DPConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
    List<String> Images = (List<String>)ViewData["Images"];
}

<body>

    <div id="arrow-left-div" data-image='@Url.Content("~/images/add.png")'></div>
    <img id="arrow-left-img" src="~/vendor/open-iconic-master/png/arrow-left.png" style="display:none"/>

    <div id="cy"></div>
    <script src="~/js/Custom/DynamicProgramming/configuration-module.js"></script>
    <script src="~/js/Custom/DynamicProgramming/toolbar-module.js"></script>
    <script src="~/js/Custom/DynamicProgramming/animation-module.js"></script>
    <script>
        $(function () { // on dom ready
            var configs = @Html.Raw(Json.Encode(DPConfigs))
            var images = @Html.Raw(Json.Encode(Images));
            SimulationInterface.setCurrentSimulation("DynamicProgramming", configs);
            SimulationInterface.configurationModule.images = images;

            $('#simulation-title').text("Dynamic Programming");
            $('#simulation-description').html("<a href='https://en.wikipedia.org/wiki/Dynamic_programming'>Link to information.</a>");
            $('#simulation-header').show();
        });
    </script>
</body>