@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewData["ConfigurationException"] != null && !ViewData["ConfigurationException"].Equals(""))
    {
        <script>
            alert("An exception was thrown parsing the configuration file. Please see the /Home/Debug endpoint for a stacktrace.")
        </script>
    }

    List<Capstone.Models.ConfigurationHelper.CytoscapeConfig> AStarConfigs = (List<Capstone.Models.ConfigurationHelper.CytoscapeConfig>)ViewData["Configs"];
}

<body>

    <div id="cy"></div>

    <script>
        $(function () { // on dom ready
            AnimationHandler.currentSimulation = "DynamicProgramming";
            AnimationHandler.configs = @Html.Raw(Json.Encode(AStarConfigs));
            console.log("configs", AnimationHandler.configs);
            AnimationHandler.defaultConfigs = Object.values(jQuery.extend(true, {}, AnimationHandler.configs));
            console.log("defaultConfigs", AnimationHandler.defaultConfigs);
            AnimationHandler.setConfigurationsInSelector();
            UIHandler.setConfig()
            UIHandler.enableToolbar();

            $('#simulation-title').text("Dynamic Programming");
            $('#simulation-description').html("<a href='https://en.wikipedia.org/wiki/Dynamic_programming'>Link to information.</a>");
            $('#simulation-header').show();
        });
    </script>
</body>