@{
    ViewBag.Title = "Home Page";
}

<body>
    @{
        int[] values = (int[])ViewData["Values"];
    }
    CPP Testing - Size from CPP: @ViewData["Size"]
    <br />
    CPP Testing - Values: @values
    <br />
    CPP Testing - length: @values.Length
</body>

<script>
    // Set page description
    $('#simulation-title').text("Capstone Homepage")
    $('#simulation-description').text("Hosting simulations")
</script>