@{
    ViewBag.Title = "Home Page";
}

<body>
    @{
        int numFrames = -1;
        int[] sizes = {0};
        int[][] values = new int[1][];
        values[0] = new int[1];
        numFrames = (int)ViewData["NumFrames"];
        sizes = (int[])ViewData["Sizes"];
        values = (int[][])ViewData["Values"];

        string sizesString = "";
        foreach (int i in sizes)
        {
            sizesString = sizesString + " " + i;
        }

        string valueString = "";
        //foreach (int[] i in values)
        //{
        //    foreach (int j in i)
        //    {
        //        valueString = valueString + " " + j;
        //    }
        //}
    }
    CPP Testing - Success: @ViewData["Success"]
    <br />
    CPP Testing - NumFrames:
    <br />
    CPP Testing - Sizes Length: @sizes
    <br />
    CPP Testing - Sizes: @sizesString
    <br />
    CPP Testing - Values Length: @values
    <br />
    CPP Testing - Values: @valueString
    <br />
</body>

<script>
    // Set page description
    $('#simulation-title').text("Capstone Homepage")
    $('#simulation-description').text("Hosting simulations")
</script>