@{
    ViewBag.Title = "Home Page";
}

<body>
    @{
        int[][] values = (int[][])ViewData["Values"];
        string valueString = "";
        foreach (int[] i in values)
        {
            valueString = valueString + " " + i;
        }
    }
    CPP Testing - Success: @ViewData["Success"]
    <br />

    @{
        string sizeValueString = "";
        int[] sizes = (int[])ViewData["Size"];
        foreach (int i in sizes)
        {
            sizeValueString = sizeValueString + " " + i;
        }
    }

    CPP Testing - Size from CPP: @sizeValueString
    <br />
    CPP Testing - Values: @valueString
    <br />
    CPP Testing - length: @values.Length
</body>

<script>
    // Set page description
    $('#simulation-title').text("Capstone Homepage")
    $('#simulation-description').text("Hosting simulations")
</script>