@{
    ViewBag.Title = "Home Page";
}

<body>

</body>

<script>
    // Set page description
    $('#simulation-title').text("Capstone Homepage")
    $('#simulation-description').text("Hosting simulations: " + @ViewData["TestInt"])
</script>