
#cy {
    min-height: 600px;
    min-width: 600px;
    width: 100%;
    height: 100%;
    border-right: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
}

#operation {
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    background-color: #e6e6e64d;
}

#operation .first {
    float: left;
    padding: 8.0px;
}

#operation .second {
    overflow: hidden;
    /* float: right; */
}

#operation .svg-expand {
    display: inline;
    min-width: 10px;
    min-height: 10px;
}

#operation .svg-expand .fa{
    color: #000000;
    padding:12.5px;
    width: 40px;
    height: 40px;
}

#operation .svg-expand  :hover{
    background-color: #e6e6e6;
}

.popover {
    z-index: 10000;
}

.notation {
    cursor: default;
    display: inline;
    min-width: 10px;
    min-height: 10px;
    height: 40px;
    color: #000000;
}

.notation ul{
    margin:0;
    padding:0;
}

.notation li{
    margin:0;
    padding:8px;
}

.notation ul li span {
    width: 32px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 0;
    border: 2px solid black;
}

.notation ul li .process-label {
    background: orange;
    width: 24px!important;
    height: 24px!important;
    border-radius: 3px;
}

.notation ul li .relay-label {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 25px 12px;
    border-color: transparent transparent green transparent;
}

.notation ul li .store-label {
    background: DimGray ;
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
}

.notation ul li .inactive-label {
    background: red;
    width: 24px!important;
    height: 24px!important;
    border-radius: 3px;
}

.notation ul li .animated-label {
    background: purple;
    width: 24px !important;
    height: 24px !important;
    border-radius: 3px;
}

.icon {
    width: 16px;
    height: 16px;
    color: DimGray;
}

.grayscale {
    filter: grayscale(50%);
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Animation Controls*/

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Accordion */

.description-accordion {
    background-color: #e9ecef;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .description-accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion-contents {
    background-color: #e9ecef;
}

#simulation-area {
    width: 100%; 
    height: 100%;
}

#simulation-display {
    width: 85%; 
    height: 100%;
    float: right;
}

#simulation-config {
    float: left;
    width: 15%;
    height: 100%;
    border-bottom: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    background-color: #e6e6e64d;
}

#simulation-area:fullscreen {
    background-color: rgba(255,255,255,1);
}
#simulation-area:-webkit-full-screen {
    background-color: rgba(255,255,255,1);
}
#simulation-area:-moz-full-screen {
    background-color: rgba(255,255,255,1);
}

.autorotate {
    edge-text-rotation: 'autorotate';
}

#add-connection-label {
    float: right;
}

/* AStar qtip menu */
.qtip-sub-div {
    height: 100%;
    width: 100%;
    border: 2px solid #e6e6e6;
    padding: 5px;
    background-color: #e6e6e64d;
    overflow: auto;
    border-radius: 4px;
}

#make-start-div {
    float: left;
    padding: 5px;
}

#make-goal-div {
    float: right;
    padding: 5px;
}

#add-node-div {
    float: left;
    padding: 5px;
}

#add-connection-div {
    float: right;
    padding: 5px;
}

#heuristic-div {
    display: flex;
    align-items: center;
    border-radius: 4px;
}

#heuristic-label {
    padding: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700 !important;
    display: inline
}

.heuristic-input {
    border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #e8ebed;
    padding: 2px;
}

.heuristic-input:focus.has-error {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px red;
}

.heuristic-input.has-error {
    border-color: red;
}

.btn {
    background-color: #343a40;
    color: white;
    padding: 2px;
}

/* AStar qtip menu */


/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center; 
}

#add-connection-modal {
    height: 20%;
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}


/* Legend styles */

.notation ul li .active-label {
    background: cornflowerblue ;
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
}

.notation ul li .inconsistent-label {
    background: darkorange ;
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
}

.notation ul li .inadmissible-label {
    background: red ;
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
}

.notation ul li .inadmissible-and-inconsistent-label {
    background: silver ;
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
}

/* Legend styles */

#frame-tracker {
    width: 20px;
    padding-left: 2px;
}