<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Icons -->
    <link rel="stylesheet" href="~/vendor/open-iconic-master/font/css/open-iconic.css">
    @*<link rel="stylesheet" href="~/vendor/open-iconic-master/font/css/open-iconic-bootstrap.css">*@
    @*<link rel="stylesheet" href="~/vendor/open-iconic-master/font/css/open-iconic-foundation.css">*@

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Home/Index">Capstone</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AStar">
                    <a class="nav-link" href="/Home/AStar">
                        <span class="oi icon" data-glyph="fork" title="fork" aria-hidden="true"></span>
                        <span class="nav-link-text">A* Search</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dynamic Programming">
                    <a class="nav-link" href="/Home/DynamicProgramming">
                        <span class="oi icon" data-glyph="loop" title="loop" aria-hidden="true"></span>
                        <span class="nav-link-text">Dynamic Programming</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reinforcement Learning">
                    <a class="nav-link" href="/Home/ReinforcementLearning">
                        <span class="oi icon" data-glyph="pencil" title="pencil" aria-hidden="true"></span>
                        <span class="nav-link-text">Reinforcement Learning</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Bootstrap core JavaScript-->
            <script src="~/vendor/jquery/jquery.min.js"></script>
            <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
            <!-- Page level plugin JavaScript-->
            <script src="~/vendor/chart.js/Chart.min.js"></script>
            <script src="~/vendor/datatables/jquery.dataTables.js"></script>
            <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="~/js/sb-admin.min.js"></script>
            <!-- Custom scripts for this page-->
            <script src="~/js/sb-admin-datatables.min.js"></script>
            @* TODO: This is raising an error in the console *@
            @*<script src="~/js/sb-admin-charts.min.js"></script>*@
            <!-- Cytoscape.js -->
            <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.10/cytoscape.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
            <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.7.0/cytoscape-qtip.js"></script>
            <script src="~/js/cytoscape-cose-bilkent.js"></script>
            <!-- Custom scripts for handling cytoscape-->
            <script src="~/js/Custom/cytoscape-helpers.js"></script>
            <!-- One off UI functions-->
            <script src="~/js/Custom/ui-helpers.js"></script>
            <!-- Full screen functionality -->
            <script src="~/js/fullscreen/jquery.fullscreen-min.js"></script>
            <div class="jumbotron" style="height:3%">
                <h1 id="simulation-title"></h1>
                <p class="lead" id="simulation-description"></p>
            </div>

            <div id="simulation-area" content="width=device-width, initial-scale=1">
                <div style="display:none" id="simulation-header">
                    <div id="operation">
                        <div>
                            <select class="first" id="configuration-selector"></select>
                        </div>
                        <div class="svg-expand pointer second">
                            <span class="fa oi icon" id="fullscreen-enter" data-glyph="fullscreen-enter" title="Fullscreen" aria-hidden="true"></span>
                            <span class="fa oi icon" style="display: none" id="fullscreen-exit" data-glyph="fullscreen-exit" title="Fullscreen" aria-hidden="true"></span>
                            <span class="fa oi icon" id="lock-unlocked" data-glyph="lock-unlocked" title="Unlock Node Positions" aria-hidden="true"></span>
                            <span class="fa oi icon" style="display: none" id="lock-locked" data-glyph="lock-locked" title="Lock Node Positions" aria-hidden="true"></span>
                            <span class="fa oi icon" id="simulate" data-glyph="calculator" title="Run Simulation" aria-hidden="true"></span>
                            <span class="fa oi icon disabled" id="play" data-glyph="media-play" title="Play Animation" aria-hidden="true"></span>
                            <span class="fa oi icon disabled" id="pause" data-glyph="media-pause" title="Pause Animation" aria-hidden="true"></span>
                            <span class="fa oi icon disabled" id="backward" data-glyph="media-skip-backward" title="Move Back a Frame" aria-hidden="true"></span>
                            <label id="frame-tracker">0/0</label>
                            <span class="fa oi icon disabled" id="forward" data-glyph="media-skip-forward" title="Move Forward a Frame" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div id="simulation-config" style="display:none"></div>
                <div id="simulation-display">
                    @RenderBody()
                </div>
            </div>

            <!-- Area Chart Example-->
            @*<div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Area Chart Example
            </div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>*@


        </div>
</body>

</html>
