@{
    ViewBag.Title = "Home Page";
}

<body>

    <div class="jumbotron">
        @{ 
            if (ViewData["Exception"] != null)
            {
                <h1>Configuration syncing has failed:</h1>
                @ViewData["Exception"]
            }
            else
            {
                <h1>Simulation configurations have been synced.</h1>
            }
        }
        
    </div>

</body>